In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("Natural_Disasters_Emergency_Events_Database.csv", sep=";", engine="python")

In [12]:
print("Shape of dataset:", df.shape)

Shape of dataset: (10431, 13)

In [13]:
print("\nColumn names:\n", df.columns)

Column names:
 Index(['Year', 'Country', 'ISO', 'Disaster Group', 'Disaster Subroup',
       'Disaster Type', 'Disaster Subtype', 'Total Events', 'Total Affected',
       'Total Deaths', 'Total Damage (USD, original)',
       'Total Damage (USD, adjusted)', 'CPI'],
      dtype='object')

In [14]:
print("\nFirst 5 rows:\n", df.head())

First 5 rows:
    Year     Country  ISO Disaster Group Disaster Subroup      Disaster Type  \
0  1900  Cabo Verde  CPV        Natural   Climatological            Drought
1  1900       India  IND        Natural   Climatological            Drought
2  1900     Jamaica  JAM        Natural     Hydrological              Flood
3  1900       Japan  JPN        Natural      Geophysical  Volcanic activity
4  1900      Turkey  TUR        Natural      Geophysical         Earthquake

  Disaster Subtype  Total Events  Total Affected  Total Deaths  \
0          Drought             1             NaN       11000.0
1          Drought             1             NaN     1250000.0
2              NaN             1             NaN         300.0
3         Ash fall             1             NaN          30.0
4  Ground movement             1             NaN         140.0

   Total Damage (USD, original)  Total Damage (USD, adjusted)              CPI
0                           NaN                           NaN  2,8490844088613
1                           NaN                           NaN  2,8490844088613
2                           NaN                           NaN  2,8490844088613
3                           NaN                           NaN  2,8490844088613
4                           NaN                           NaN  2,8490844088613

In [15]:
print("\nDataset Info:\n")
print(df.info())

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10431 entries, 0 to 10430
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          10431 non-null  int64
 1   Country                       10431 non-null  object
 2   ISO                           10431 non-null  object
 3   Disaster Group                10431 non-null  object
 4   Disaster Subroup              10431 non-null  object
 5   Disaster Type                 10431 non-null  object
 6   Disaster Subtype              8298 non-null   object
 7   Total Events                  10431 non-null  int64
 8   Total Affected                7586 non-null   float64
 9   Total Deaths                  7375 non-null   float64
 10  Total Damage (USD, original)  3834 non-null   float64
 11  Total Damage (USD, adjusted)  3830 non-null   float64
 12  CPI                           10380 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 1.0+ MB
None

In [16]:
print("\nMissing values per column:\n")
print(df.isnull().sum())

Missing values per column:

Year                               0
Country                            0
ISO                                0
Disaster Group                     0
Disaster Subroup                   0
Disaster Type                      0
Disaster Subtype                2133
Total Events                       0
Total Affected                  2845
Total Deaths                    3056
Total Damage (USD, original)    6597
Total Damage (USD, adjusted)    6601
CPI                               51
dtype: int64

In [17]:
print("\nSummary statistics:\n")
print(df.describe())

Summary statistics:

               Year  Total Events  Total Affected  Total Deaths  \
count  10431.000000  10431.000000    7.586000e+03  7.375000e+03
mean    1995.609625      1.446649    1.125969e+06  3.107711e+03
std       22.001186      1.246589    9.760891e+06  7.255589e+04
min     1900.000000      1.000000    1.000000e+00  1.000000e+00
25%     1986.000000      1.000000    1.200000e+03  6.000000e+00
50%     2001.000000      1.000000    1.141400e+04  2.300000e+01
75%     2011.000000      1.000000    1.193045e+05  9.000000e+01
max     2023.000000     20.000000    3.300000e+08  3.700000e+06

       Total Damage (USD, original)  Total Damage (USD, adjusted)
count                  3.834000e+03                  3.830000e+03
mean                   1.122262e+09                  1.748704e+09
std                    6.792339e+09                  9.115319e+09
min                    2.000000e+03                  2.469000e+03
25%                    1.000000e+07                  2.020927e+07
50%                    6.800000e+07                  1.469247e+08
75%                    4.000000e+08                  7.847767e+08
max                    2.100000e+11                  2.732184e+11

In [18]:
print("\nDisaster Type Counts:\n")
print(df['Disaster Type'].value_counts())

Disaster Type Counts:

Disaster Type
Flood                    3837
Storm                    2761
Earthquake               1087
Drought                   784
Landslide                 652
Extreme temperature       565
Wildfire                  374
Volcanic activity         231
Insect infestation         92
Mass movement (dry)        44
Glacial lake outburst       2
Fog                         1
Animal accident             1
Name: count, dtype: int64